@charset "UTF-8";

@font-face {
    font-family: 'docktrin';
    src: url(../Fontes/docktrin.ttf); format:('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Genova';
    src: url(../Fontes/Genova.otf); format:('opentype');
    font-weight: normal;
}
:root{
    --fundo: #ebe5c5;
    --branco: #ffffff;
    --branco2: #ffffff79;
    --preto:  #000000;
    --preto2: #0000009d;
    --verde1: #78EC71;
    --verde2: #66CA61;
    --verde3: #55A851;
    --verde4: #7BF575;
    --verde5: #448640;
    --verde6: #336430;
    --verde7: #2C8638; 
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Genova', sans-serif;
    --fonte-titulo: 'docktrin', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
a.externo::after{
    content: '\00A0\1F517';
}
header{
    background-image: linear-gradient(to bottom, var(--branco), var(--verde5));
    min-height: 100px;
}
header > h1{
    font-family: var(--fonte-titulo);
    font-weight: normal;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 5px;
    text-shadow: 2px 2px 3px #00000083;
}
header > p{
    font-family: var(--fonte-titulo);
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    max-width: 600px;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 2px 2px 3px #00000080;
}
header > a > img {
    max-width: 150px;
    max-height: 80px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
}
body{
    background-color: var(--fundo);
}
nav{
    background-color: var(--verde5);
    padding: 3px;
    margin: auto;
    box-shadow: 2px 2px 2px #00000080;
}
nav > a{
    color: var(--preto);
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 5px;
    transition-duration: 1s;
}
nav > a:hover{
    padding-bottom: 5px;
    background-color: var(--branco2);
    color: #000000;
    border-radius: 6px;
}
main > div#whatdowehave > p > strong{
    padding: 3px;
    background-color: var(--verde7);
    font-weight: bold;
}
main > section > div.Events > p > span > strong{
    padding: 3px;
    background-color: var(--verde7);
    font-weight: bold;
}
main > div#apresentation > h1 {
    text-align: center;
    font-family: var(--fonte-destaque);
    font-weight: bold;
    font-size: 2.3em;
    background-color: var(--verde2);
    margin: 0px;
}
main > div#apresentation > p {
  font-family: var(--fonte-destaque);
  text-align: center;
  background-color: var(--fundo);
  font-size: larger;
  font-family: var(--fonte-destaque);
  font-weight: bolder;
  padding: 5px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
}
main > div#list > h2{
  background-color: var(--verde2);
  text-align: center;
  font-family: var(--fonte-destaque);
}
main > div#list > ul {
    font-size: larger;
    font-family: var(--fonte-destaque);
    font-weight: bolder;
    padding: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
    text-decoration: none;
    background-color: var(--fundo);
    list-style-type: '\1F354';  
    list-style-position: inside;
    columns: 3;
    display: block;
    transition-duration: 0.8s;
}
main > div#list > ul:hover {
    background-color: var(--verde3);
    color: var(--branco);
    cursor: pointer;
    transform: translateX();
}   
main > div#whatdowehave > h2 {
    background-color: var(--verde2);
    text-align: center;
    font-family: var(--fonte-destaque);
}
main > div#whatdowehave > p {
    background-color: var(--fundo);
    font-size: larger;
    font-family: var(--fonte-destaque);
    font-weight: bolder;
    padding: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
    text-align: justify;
}
main > section > div.Events {
  background-color: white;
}
main > section > div.Events > h2 {
    background-color: var(--verde2);
    text-align: center;
    font-family: var(--fonte-destaque);
}
main > section > div.Events > p {
    font-family: var(--fonte-destaque);
    font-weight: bolder;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    background-color: var(--fundo);
}
main > section > div.Events > p > span {
    font-family: var(--fonte-destaque);
    padding-left: 10px;
}
main > section > div.Events > p > img {
    max-width: 400px;
    max-height: 400px;
}
aside > div > h3  {
    background-color: var(--verde2);
    text-align: center;
    font-size: 1.3em;
    font-family: var(--fonte-destaque);
    font-weight: bolder;
    padding: 5px;
    margin: 0%;
}
aside > div#aside > p {
    font-size: larger;
    font-family: var(--fonte-destaque);
    font-weight: bolder;
    padding: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
    display: flex;
    align-items: center;
    background-color: var(--fundo);
}
aside > div#aside > p > iframe {
    max-width: 285px;
    max-height: 300px;
}
footer {
    background-color: var(--verde7);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #ffffff;
    font-weight: bolder;
    text-decoration: underline;
}